<h1>  POWERRR </h1>

<ol>
<p> <b>Power Name: </b> <%= @power.name %></p>
<p> <b>Description: </b> <%= @power.description%> </p>
</ol>

<%= link_to "View All Powers", powers_path%>
<br/>
<br/>
<%= link_to "View All Heroines", heroines_path%>