<h2>All Heroines</h2>

<%= button_to  'Create new Superhero', new_heroine_path, method: 'get', class: "create-button"%>
<ul>
  <% @heroines.each do |heroine| %>
    <a href="/heroines/<%= heroine.id %>"><li>
      <%= heroine.super_name %>
    </li></a>
    <br>
  <% end %>
</ul>


<%= link_to  "Powers", powers_path %> 