<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <a href = " ">
          <%= heroine.super_name %>
      </a>
    </li>
    <br>
  <% end %>
</ul>

<a href = "/heroine/new"> Create Heroine </a>


<%# <%= link_to 'Heroine', heroine_path(heroine) %> 