


<h1>
   Name: <%= @heroine.name %>
</h1>


<h2>
    Super name: <%= @heroine.super_name %>
</h2>

<%@powers.each do |power| %>
<% if power.id == @heroine.power_id  %>
<%= link_to power.name, power_path(power.id) %>
<% end %>
<% end %>


